<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body ng-app="FluidApp" class="layer">
    <div class="row-12 content">
        <div class="col-6 col-auto theme-white content" ng-controller="LoginController as login">
            <h1>Login Form</h1>
            <div class="alert light" ng-show="login.ui.status.loading">Logging in...</div>
            <div class="alert success" ng-show="login.ui.status.loaded">Logged in!</div>
            <div class="alert failure" ng-show="login.ui.status.error">Incorrect credentials.</div>

            <div class="field">
                <label>Username</label>
                <input type="text" name="" id="" ng-model="login.user">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="text" name="" id="" ng-model="login.pass">
            </div>
            <div class="field clearfix">
                <button class="right" ng-click="login.login()" ng-disabled="!login.ui.form.canLogin">
                    <span ng-show="login.ui.status.loading">Logging in...</span>
                    <span ng-show="!login.ui.status.loading">Login</span>
                </button>
            </div>

            <div vp-mentionable>hello</div>

            <pre class="small">{{login.ui | json}}</pre>
            <pre class="small">
                {{login.test}}
                {{login.test.active}}
            </pre>
        </div>
        <div class="col-6 col-auto theme-white content" ng-controller="TennisController as tennis">
            <strong>P1 score;</strong>
            <pre class="small">{{tennis.ui | json}}</pre>
            <input type="text" name="" id="" ng-model="tennis.foo">
        </div>
    </div>
</body>

<!-- DELETE -->
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/lodash.min.js"></script>
<script src="app/FluidModule.js"></script>

<script src="app/fluid/FluidState.js"></script>
<script src="app/fluid/FluidRule.js"></script>
<script src="app/fluid/FluidTrigger.js"></script>
<script src="app/fluid/FluidInstance.js"></script>
<script src="app/fluid/FluidListener.js"></script>

<script src="app/FluidService.js"></script>

</html>